@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
body {
	font-family: 'Gotu', sans-serif;
}
.trello {
	margin: 0 auto;
	background-color: #63a4ff;
	background-image: linear-gradient(315deg, #63a4ff 0%, #adcfff 74%);
	max-width: 70vw;
	min-height: 80vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 10px 10px 0px -2px rgba(206, 227, 235, 0.52);
	-moz-box-shadow: 10px 10px 0px -2px rgba(206, 227, 235, 0.52);
	box-shadow: 10px 10px 0px -2px rgba(206, 227, 235, 0.52);
	border: 3px solid lightblue;
	position: relative;
	height: auto;
	width: 100%;
	transition: height 3s ease-out-in;
	opacity: 0;
	padding: 16px;
}

.trello h1 {
	padding: 20px;
	color: white;
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.trello h4 {
	font-size: small;
	font-weight: bold;
	border-bottom: 1px solid red;
	width: 50%;
	margin-bottom: 50px;
}
/* column */

.column {
	display: inline-block;
	width: 32.88%;
	vertical-align: top;
	margin: 0 auto;
}

.column-name {
	position: relative;
}

.column .content {
	font-size: small;
	padding: 10px;
	margin: 4px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: white;
	font-size: smaller;
	text-align: left;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
	transition: height 3s ease-out;
	/*  box-shadow: 7px 2px 5px -2px white;*/
}

.request {
	width: 100%;
	height: fit content;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
	background-color: #adcfff;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.75);
	margin-top: 15px;
	word-break: break-all;
	position: relative;
}
.request p {
    padding: 2px;
    padding-top:10px;
	font-size: 10px;
    font-weight: bold;
    
}
.request :first-child{
    colorwhite;
    max-width:80%;
}

.buttonAddRequest input {
	font-size: smaller;
	border: none;
	border: 1px solid white;
	position: absolute;
	top: 5px;
	left: 5px;
}

textarea {
	width: 100%;
	min-height: 75px;
	outline: none;
	resize: none;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
	background-color: #adcfff;
	border: 2px solid white;
	color: white;
	padding: 5px;
	margin-top: 15px;
	font-size: 9px;
	font-weight: bold;
}
ul,
li {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}

ul {
	min-height: 200px;
}

.request:hover {
	cursor: pointer;
}
.trello:hover {
	height: auto;
}

i.fa-thumbtack {
	position: absolute;
	top: -11px;
	left: 0;
	font-size: 8px;
	color: lightsteelblue;
	transform: skewY(-30deg, 30deg);
}

/* icons */

.fa-plus {
	font-size: 15px;
	position: absolute;
	right: 0;
	top: 16px;
	width: 30px;
	height: 30px;

	animation: shadow-pulse 2s infinite;
	animation: float 2s infinite;
	border-radius: 20px 20px 20px 20px;
	text-align: center;

	padding: 5px;

	color: #63a4ff;
}
.fa-plus:hover {
	cursor: pointer;
}
::placeholder {
	font-size: 9px;
    font-weight: bold;
    color:white;
}
.fa-times {
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
	top: 5px;
	right: 5px;
	color: white;
	font-size: 9px;
	transition: transform 0.5s ease-out-in;
	transition-delay: 0.1s;
}

.fa-times:hover {
	transform: scale(1.4, 1.4);
}
p {
	margin: 0;
	padding: 0;
	color: white;
}

/* Preloader*/
.preloader-wrapper {
	width: 99vw;
	height: 99vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preloader,
.preloader:before,
.preloader:after {
	background: lightblue;
	animation: animation 1s infinite ease-in-out;
	width: 12px;
}

.preloader:before,
.preloader:after {
	position: absolute;
	content: '';
}

.preloader:before {
	left: -20px;
	animation-delay: -0.32s;
}

.preloader {
	margin: 65px auto 40px;
	transform: translateZ(0);
	animation-delay: -0.16s;
}

.preloader:after {
	left: 20px;
}

@keyframes animation {
	0%,
	80%,
	100% {
		box-shadow: 0 0 lightskyblue;
		height: 40px;
	}
	40% {
		box-shadow: 0 -30px lightblue;
		height: 80px;
	}
}
.date {
	font-size: 10px;
	color: white;
	text-align: right;
}
/* pulse */
@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3);
	}
	100% {
		box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
	}
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@media only screen and (max-width: 1000px) {
	.column {
		display: block;
		width: 100%;
		margin-top: 30px;
	}
	.column {
		padding: 20px;
	}
	.content {
		padding: 40px;
	}
	.request {
		padding: 20px;
	}
}
