@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("animations.css");
@import url("mediaQueries.css");
@import url("icons.css");
@import url("preloader.css");
.request, textarea {
  border-radius: 0px 10px 10px 10px;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
}

.trello, .column .content {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.trello {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #adcfff 74%);
}

.trello {
  -webkit-box-shadow: 10px 10px 0px -2px rgba(206, 227, 235, 0.52);
  box-shadow: 10px 10px 0px -2px rgba(206, 227, 235, 0.52);
}

.column {
  margin: 0 auto;
}

body {
  font-family: "Gotu", sans-serif;
}

/* trello box */
.trello {
  margin: 0 auto;
  margin: 5vh 0 5vh 0;
  padding: 16px;
  max-width: 70vw;
  min-height: 80vh;
  border: 3px solid lightblue;
  position: relative;
  -webkit-transition: height 3s ease-out-in;
  transition: height 3s ease-out-in;
  opacity: 0;
}

.trello h1 {
  margin: 0 0 50px 0;
  padding: 0;
  color: white;
  display: block;
}

.column-3 h4 {
  border-bottom: 2px solid green;
}

.column-2 h4 {
  border-bottom: 2px solid orange;
}

.column-1 h4 {
  border-bottom: 2px solid lightblue;
}

.trello h4 {
  margin: 0 0 50px 0;
  padding: 0 0 5px 0;
  font-size: smaller;
  font-weight: bold;
  width: 30%;
}

/* column */
.column {
  display: inline-block;
  width: 32.88%;
  vertical-align: top;
}

.column-2 textarea {
  background-color: orange;
}

.column-3 textarea {
  background-color: green;
}

.column-name {
  position: relative;
}

.column .content {
  margin: 4px;
  padding: 10px;
  background-color: white;
  font-size: smaller;
  text-align: left;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  /*  box-shadow: 7px 2px 5px -2px white;*/
}

.request {
  width: 100%;
  height: fit content;
  background-color: #adcfff;
  -webkit-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.75);
  word-break: break-all;
  position: relative;
  margin: 15px 0 0 0;
  padding: 10px;
}

.request p {
  margin: 0;
  padding: 10px 2px 2px 2px;
  font-size: 10px;
  font-weight: bold;
}

.request :first-child {
  color: white;
  max-width: 80%;
}

.request:hover {
  cursor: pointer;
}

.buttonAddRequest input {
  font-size: smaller;
  border: 1px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
}

.column-2 .request {
  background-color: orange;
}

.column-3 .request {
  background-color: green;
}

/* lists styles*/
ul,
li {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

ul {
  min-height: 200px;
}

textarea {
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  margin: 15px 0 0 0;
  padding: 5px;
  background-color: #adcfff;
  border: 2px solid white;
  color: white;
  font-size: 9px;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-input-placeholder {
  font-size: 9px;
  font-weight: bold;
  color: white;
}

:-ms-input-placeholder {
  font-size: 9px;
  font-weight: bold;
  color: white;
}

::-ms-input-placeholder {
  font-size: 9px;
  font-weight: bold;
  color: white;
}

::placeholder {
  font-size: 9px;
  font-weight: bold;
  color: white;
}

.date {
  font-size: 10px;
  color: white;
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}



/* media */
@media only screen and (max-width: 1000px) {
  .trello {
    width: 99vw;
    margin: 0 auto;
  }
  .column {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
  .column {
    padding: 20px;
  }
  .content {
    padding: 40px;
  }
  .request {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .trello {
    max-width: 93vw;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */